In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/earthquake-database/database.csv

In [44]:
df = pd.read_csv("/kaggle/input/earthquake-database/database.csv")
df.sample(10)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
768,10/07/1967,08:28:02,49.107,156.309,Earthquake,32.4,NaN,NaN,5.6,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM830079,ISCGEM,ISCGEM,ISCGEM,Automatic
11523,07/21/1993,22:06:30,13.349,-90.771,Earthquake,10.0,NaN,NaN,5.6,MW,...,NaN,NaN,NaN,NaN,1.10,USP0005X4G,US,US,HRV,Reviewed
20241,09/04/2010,11:51:59,-59.075,-25.494,Earthquake,35.0,NaN,118.0,5.5,MWC,...,NaN,46.1,NaN,NaN,1.08,USP000HK79,US,US,GCMT,Reviewed
5554,06/11/1980,14:21:19,-32.723,-71.645,Earthquake,35.0,NaN,NaN,5.5,MS,...,NaN,NaN,NaN,NaN,NaN,USP000184W,US,US,US,Reviewed
19034,06/04/2008,17:03:07,41.538,139.058,Earthquake,205.0,NaN,478.0,5.7,MWB,...,NaN,42.3,NaN,NaN,0.73,USP000G8J4,US,US,US,Reviewed
20408,01/09/2011,13:00:14,-19.336,168.435,Earthquake,10.0,NaN,81.0,5.7,MWC,...,NaN,30.0,NaN,NaN,1.03,USP000HSTP,US,US,GCMT,Reviewed
8671,09/18/1987,08:43:29,-24.269,-69.148,Earthquake,96.9,NaN,NaN,5.6,MW,...,NaN,NaN,NaN,NaN,1.10,USP00038G9,US,US,HRV,Reviewed
15192,12/15/2000,16:44:48,38.457,31.351,Earthquake,10.0,NaN,174.0,6.0,MWC,...,NaN,NaN,NaN,NaN,1.24,USP000A64F,US,US,HRV,Reviewed
9454,05/02/1989,06:27:28,45.060,-28.141,Earthquake,10.0,NaN,NaN,5.5,MW,...,NaN,NaN,NaN,NaN,1.10,USP0003US9,US,US,HRV,Reviewed
8384,02/23/1987,15:49:55,-15.854,167.891,Earthquake,233.6,5.8,NaN,6.9,MW,...,NaN,NaN,NaN,NaN,1.10,USP00032Q7,US,US,HRV,Reviewed

In [6]:
import datetime as dt

In [7]:
hozir = dt.datetime.now()

In [8]:
type(hozir)

datetime.datetime

In [9]:
print(hozir)

2023-05-23 07:38:00.873696

In [10]:
hozir.hour

7

In [ ]:
hozir.minute

In [11]:
hozir.weekday()

1

In [12]:
hozir.month

5

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        23412 non-null  object
 1   Time                        23412 non-null  object
 2   Latitude                    23412 non-null  float64
 3   Longitude                   23412 non-null  float64
 4   Type                        23412 non-null  object
 5   Depth                       23412 non-null  float64
 6   Depth Error                 4461 non-null   float64
 7   Depth Seismic Stations      7097 non-null   float64
 8   Magnitude                   23412 non-null  float64
 9   Magnitude Type              23409 non-null  object
 10  Magnitude Error             327 non-null    float64
 11  Magnitude Seismic Stations  2564 non-null   float64
 12  Azimuthal Gap               7299 non-null   float64
 13  Horizontal Distance         1604 non-null   float64
 14  Horizontal Error            1156 non-null   float64
 15  Root Mean Square            17352 non-null  float64
 16  ID                          23412 non-null  object
 17  Source                      23412 non-null  object
 18  Location Source             23412 non-null  object
 19  Magnitude Source            23412 non-null  object
 20  Status                      23412 non-null  object
dtypes: float64(12), object(9)
memory usage: 3.8+ MB

In [14]:
df.at[0,'Date']

'01/02/1965'

In [15]:
type(df.at[0,'Date'])

str

In [16]:
pd.to_datetime(df['Date'], format="%m/%d/%Y")

ValueError: time data '1975-02-23T02:58:41.000Z' does not match format '%m/%d/%Y' (match)

In [45]:
df['Date'].str.len().value_counts()

10    23409
24        3
Name: Date, dtype: int64

In [46]:
df[df['Date'].str.len()==24]

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
3378,1975-02-23T02:58:41.000Z,1975-02-23T02:58:41.000Z,8.017,124.075,Earthquake,623.0,NaN,NaN,5.6,MB,...,NaN,NaN,NaN,NaN,NaN,USP0000A09,US,US,US,Reviewed
7512,1985-04-28T02:53:41.530Z,1985-04-28T02:53:41.530Z,-32.998,-71.766,Earthquake,33.0,NaN,NaN,5.6,MW,...,NaN,NaN,NaN,NaN,1.30,USP0002E81,US,US,HRV,Reviewed
20650,2011-03-13T02:23:34.520Z,2011-03-13T02:23:34.520Z,36.344,142.344,Earthquake,10.1,13.9,289.0,5.8,MWC,...,NaN,32.3,NaN,NaN,1.06,USP000HWQP,US,US,GCMT,Reviewed

In [47]:
df.loc[3378, 'Date'] = "02/23/1975"
df.loc[7512, "Date"] = "04/28/1985"
df.loc[20650, "Date"] = "03/13/2011"

In [48]:
df['datetime'] = pd.to_datetime(df['Date'], format="%m/%d/%Y")
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,datetime
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-02
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-04
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-05
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-08
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-09

In [49]:
df.at[0,'datetime'].weekday()

5

In [50]:
df['month'] = df['datetime'].dt.month

In [23]:
df['month'].value_counts()

3     2114
8     2014
12    2001
11    1987
9     1985
4     1971
5     1964
10    1952
1     1891
7     1880
2     1829
6     1824
Name: month, dtype: int64

In [51]:
df['weekday'] = df['datetime'].dt.weekday

In [52]:
df.weekday.value_counts()

5    3433
2    3431
4    3362
0    3349
3    3306
6    3287
1    3244
Name: weekday, dtype: int64

In [27]:
df['time'] = pd.to_datetime(df['Time'], format="%H:%M:%S")

ValueError: time data '1975-02-23T02:58:41.000Z' does not match format '%H:%M:%S' (match)

In [53]:
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,datetime,month,weekday
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-02,1,5
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-04,1,0
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-05,1,1
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-08,1,4
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-09,1,5

In [54]:
df.Time.str.len().value_counts()

8     23409
24        3
Name: Time, dtype: int64

In [55]:
df[df.Time.str.len()>8]

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,datetime,month,weekday
3378,02/23/1975,1975-02-23T02:58:41.000Z,8.017,124.075,Earthquake,623.0,NaN,NaN,5.6,MB,...,NaN,NaN,USP0000A09,US,US,US,Reviewed,1975-02-23,2,6
7512,04/28/1985,1985-04-28T02:53:41.530Z,-32.998,-71.766,Earthquake,33.0,NaN,NaN,5.6,MW,...,NaN,1.30,USP0002E81,US,US,HRV,Reviewed,1985-04-28,4,6
20650,03/13/2011,2011-03-13T02:23:34.520Z,36.344,142.344,Earthquake,10.1,13.9,289.0,5.8,MWC,...,NaN,1.06,USP000HWQP,US,US,GCMT,Reviewed,2011-03-13,3,6

In [56]:
df.loc[3378,'Time']='02:58:41'
df.loc[7512,'Time']='02:53:41'
df.loc[20650,'Time']='02:23:34'

In [57]:

df['time'] = pd.to_datetime(df['Time'], format="%H:%M:%S")

In [60]:
df['time'].dt.hour

0        13
1        11
2        18
3        18
4        13
         ..
23407     8
23408     9
23409    12
23410    22
23411    20
Name: time, Length: 23412, dtype: int64